/* You can add global styles to this file, and also import other style files */
.class1{
    background-color: gray;
    margin: 10px;
    padding: 10px;
    height: 300px;
}

.class2{
    background-color:olivedrab;
    margin: 10px;
    padding: 10px;
    height: 100px;
}